@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";


:root {
  --font-sans: 'Inter', system-ui, sans-serif;

  --color-background: #F7F8FA;
  --foreground: #020617;

  --card: #FFFFFF;
  --card-foreground: #020617;

  --popover: #FFFFFF;
  --popover-foreground: #020617;

  --primary: #6366F1;
  --primary-foreground: #FFFFFF;

  --secondary: #F1F5F9;
  --secondary-foreground: #020617;

  --muted: #F1F5F9;
  --muted-foreground: #6B7280;

  --color-accent: #8B5CF6;
  --accent-foreground: #FFFFFF;

  --destructive: #EF4444;
  --destructive-foreground: #FFFFFF;

  --border: #E5E7EB;
  --input: #E5E7EB;
  --ring: #6366F1;

  --gradient-primary: linear-gradient(135deg, #6366F1 0%, #8B5CF6 100%);
  --gradient-hero: linear-gradient(180deg, #F7F8FA 0%, #EFF2F7 100%);
  --gradient-card: linear-gradient(135deg, #FFFFFF 0%, #FAFBFC 100%);
  --gradient-cta: linear-gradient(135deg, #6366F1 0%, #7C3AED 100%);
}

/* =========================
   DARK MODE
========================= */
.dark {
  --background: #020617;
  --foreground: #F7F8FA;

  --card: #02081A;
  --card-foreground: #F7F8FA;

  --popover: #02081A;
  --popover-foreground: #F7F8FA;

  --secondary: #0F172A;
  --secondary-foreground: #F7F8FA;

  --muted: #0F172A;
  --muted-foreground: #9CA3AF;

  --accent: #8B5CF6;
  --accent-foreground: #FFFFFF;

  --destructive: #7F1D1D;
  --destructive-foreground: #FFFFFF;

  --border: #0F172A;
  --input: #0F172A;
  --ring: #6366F1;
}
